@{
    ViewBag.Title = "Cijenik jela i pića";
}

<div class="table-responsive">
    <table class="table text-left cjenik">
        <thead class="thead-default">
            <tr><td></td><td></td><td></td><td></td></tr>
            <tr>
                <th>JELA</th>
                <th>CIJENA</th>
                <th>VODA</th>
                <th>CIJENA</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Topli sendvić</td>
                <td>14,00 kn</td>
                <td>Mineralna voda 0,25 l</td>
                <td>8,00 kn</td>
            </tr>
            <tr>
                <td>Mješani sendvić</td>
                <td>16,00 kn</td>
                <td>Emotion s okusom 0,33 l </td>
                <td>10,00 kn</td>
            </tr>
            <tr>
                <td>Sendvić u lepinji</td>
                <td>16,00 kn</td>
                <td>Negazirana min. voda 0,50 l</td>
                <td>8,00 kn</td>
            </tr>
            <tr>
                <td>Mješani sendvić u lepinji</td>
                <td>18,00 kn</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Sendvić sa tunom</td>
                <td>14,00 kn</td>
                <th>SOKOVI</th>
                <th></th>
            </tr>
            <tr>
                <td>Sendvić sa tunom i sirom</td>
                <td>15,00 kn</td>
                <td>Sokovi 0,25 l </td>
                <td>13,00 kn</td>
            </tr>
            <tr>
                <td>Čevapi mali</td>
                <td>17,00 kn</td>
                <td>Sokovi 0,33 l </td>
                <td>14,00 kn</td>
            </tr>
            <tr>
                <td>Čevapi veliki</td>
                <td>26,00 kn</td>
                <td>Sokovi 0,50 l </td>
                <td>14,00 kn</td>
            </tr>
            <tr>
                <td>Hamburger</td>
                <td>17,00 kn</td>
                <td>Voćni sokovi 0,20 l</td>
                <td>14,00 kn</td>
            </tr>
            <tr>
                <td>Cheeseburger</td>
                <td>19,00 kn</td>
                <td>Cappy 0,20 l</td>
                <td>14,00 kn</td>
            </tr>
            <tr>
                <td>Hot-dog</td>
                <td>14,00 kn</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Piletina</td>
                <td>18,00 kn</td>
                <th>VINO</th>
                <th></th>
            </tr>
            <tr>
                <td>Piletina sa sirom</td>
                <td>20,00 kn</td>
                <td>Vino u boci 0,20 l</td>
                <td>15,00 kn</td>
            </tr>
            <tr>
                <td>Pomfrit</td>
                <td>14,00 kn</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>PIVO</th>
                <th></th>
            </tr>
            <tr>
                <th>TOPLI NAPITCI</th>
                <th></th>
                <td>Pivo 0,25 l </td>
                <td>13,00 kn</td>
            </tr>
            <tr>
                <td>Kava expresso</td>
                <td>7,00 kn</td>
                <td>Pivo 0,33 l </td>
                <td>13,00 kn</td>
            </tr>
            <tr>
                <td>Machiato</td>
                <td>8,00 kn</td>
                <td>Pivo 0,50 l </td>
                <td>13,00 kn</td>
            </tr>
            <tr>
                <td>Cappuccino</td>
                <td>9,00 kn</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Bijela kava</td>
                <td>10,00 kn</td>
                <th>ŽESTOKA PIĆA</th>
                <th></th>
            </tr>
            <tr>
                <td>Nescafe kava</td>
                <td>10,00 kn</td>
                <td>Orahovac 0,03 l </td>
                <td>8,00 kn</td>
            </tr>
            <tr>
                <td>Kava sa šlagom</td>
                <td>9,00 kn</td>
                <td>Pelinkovac 0,03 l</td>
                <td>8,00 kn</td>
            </tr>
            <tr>
                <td>Čokolada</td>
                <td>9,00 kn</td>
                <td>Travarica 0,03 l</td>
                <td>8,00 kn</td>
            </tr>
        </tbody>
    </table>
</div>