@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Role";
}

<h2>Role</h2>

@*<p>
    @Html.ActionLink("Stvori novu rolu", "Create", "Role")
</p>*@
<p>
    @Html.ActionLink("Dodijeli rolu korisniku", "RegisterRole", "Account")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }

</table>





